{% comment %}
  Renders a button with all the default configuration options we use

  Accepts:
  - data: {
            button_style: { string }
            button_text: { string }
            button_url: { string }
            button_icon: { image }
  }
  - classes: { string }

  Usage:
  {% render 'v2-button', data: data %}
{% endcomment %}

{% liquid
    assign tag = 'div'
    assign href = ''

    if data.button_url != blank
        assign tag = 'a'
        assign href = ' href="' | append: data.button_url | append: '"'
    endif
%}

{% if data.button_text != blank or data.button_icon != blank %}

    <{{ tag }} class="v2-button -style-{{ data.button_style }} -size-{{ data.button_size }} {{ classes }}" {{ href }}>

        <span>

            {%- if data.button_icon -%}
            <div class="v2-button-icon">
                {{ data.button_icon
                | image_url: width: 44
                | image_tag: alt: data.button_icon.alt
                }}
            </div>
            {%- endif -%}

            {{ data.button_text | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>' }}

        </span>

    </{{ tag }}>

{% endif %}