{% comment %}
  Renders a heading with all the default configuration options we use

  Accepts:
  - data: {
            heading_type: { string }
            heading_no_decal: { bool }
            heading_decal_left: { bool }
            heading_icon: { image }
            heading_text: { string }
  }
  - classes: { string }
  - icon_size: { number }

  Usage:
  {% render 'v2-heading', data: data %}
{% endcomment %}

{% liquid
    assign classes_str = ''
    # custom classes
    if classes != blank
        assign classes_str = classes_str | append: classes | append: ' '
    endif
    # accented color for strong
    if data.heading_strong_accented
        assign classes_str = classes_str | append: ' -strong-accented '
    endif
    # no decals
    if data.heading_no_decal
        assign classes_str = classes_str | append: ' -no-decal '
    endif
    # decal left
    if data.heading_decal_left
        assign classes_str = classes_str | append: ' -decal-left '
    endif
    # font-size
    assign classes_str = classes_str | append: ' _font-' | append: data.heading_size

%}
{% # todo: check icon size %}

{% if data.heading_text != blank %}
<{{ data.heading_type }} class="v2-heading {{ classes_str }}">

    {%- if data.heading_icon -%}
        <div class="v2-heading-icon">
            {{ data.heading_icon
            | image_url: width: 44
            | image_tag: alt: data.heading_icon.alt
            }}
        </div>
    {%- endif -%}

    {{ data.heading_text | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>' }}

</{{ data.heading_type }}>
{% endif %}