{% comment %}
  Renders a text with all the default configuration options we use

  Accepts:
  - data: {
            text: { string }
            text_size: { string }
            text_strong_accent: { bool }
  }
  - classes: { string }
  - prefix: { string }

  Usage:
  {% render 'v2-text', data: data %}
{% endcomment %}

{% liquid
    assign classes_str = ''

    # keys
    assign key_text_strong_accented = 'text_strong_accented'
    assign key_text_no_decal = 'text_no_decal'
    assign key_text_size = 'text_size'
    assign key_text = 'text'

    # add the prefix to all variables
    if prefix and prefix != blank
        assign key_text_strong_accented = prefix | append: key_text_strong_accented
        assign key_text_no_decal = prefix | append: key_text_no_decal
        assign key_text_size = prefix | append: key_text_size
        assign key_text = prefix | append: key_text
    endif

    # custom classes
    if classes != blank
        assign classes_str = classes_str | append: classes | append: ' '
    endif
    # accented color for strong
    if data[ key_text_strong_accented ]
        assign classes_str = classes_str | append: ' -strong-accented '
    endif
    # no decals
    if data[ key_text_no_decal ]
        assign classes_str = classes_str | append: ' -no-decal '
    endif
    # font-size
    assign classes_str = classes_str | append: ' _font-' | append: data[ key_text_size ]

    assign text = data[ key_text ] | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>'
    if no_remove_p
        assign text = data[ key_text ]
    endif

%}
{% # todo: check icon size %}

{% if debug != blank and debug == true %}
    <div class="le-debug-box">
        text_strong_accented: {{  data[ key_text_strong_accented ] }} - {{  data.text_strong_accented }} - {{ key_text_strong_accented }}<br>
        text_no_decal: {{  data[ key_text_no_decal ] }} - {{  data.text_no_decal }} - {{ key_text_no_decal }}<br>
        text_size: {{  data[ key_text_size ] }} - {{  data.text_size }} - {{ key_text_size }}<br>
        text: {{  data[ key_text ] }} - {{  data.text }} - {{ key_text }}<br>
    </div>
{% endif %}

{% if data[ key_text ] != blank %}
    <div class="v2-text {{ classes_str }}">

        {{ text }}

    </div>
{% endif %}