{{ 'le_accordion.js' | asset_url | script_tag }}

{%- liquid

    assign decal_top = false
    assign decal_bottom = false
    assign section_classes = ''

    assign iz_blue = false
    assign iz_white = false

    if section.settings.decal_top
        assign decal_top = true
        assign section_classes = section_classes | append: ' -decal-top '
    endif

    if section.settings.decal_bottom
        assign decal_bottom = true
        assign section_classes = section_classes | append: ' -decal-bottom '
    endif

    if section.settings.template_type == 'blue'
        assign iz_blue = true
        assign section_classes = section_classes | append: ' sa-bg-primary text-white -dct-primary -dcb-primary '
    endif

    if section.settings.template_type == 'white'
        assign iz_white = true
        assign section_classes = section_classes | append: ' sa-bg-white sa-col-primary -dct-white -dcb-white '
    endif

    assign section_classes = section_classes | append: ' -width-' | append: section.settings.accordion_width

%}


{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-margin {
        margin-top: {% if decal_top %}{{ section.settings.margin_top | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_top }}{% endif %}px !important;
        margin-bottom: {% if decal_bottom %}{{ section.settings.margin_bottom | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px !important;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .section-{{ section.id }}-margin {
            margin-top: {% if decal_top %}{{ section.settings.margin_top | plus: 140 }}{% else %}{{ section.settings.margin_top }}{% endif %}px !important;
            margin-bottom: {% if decal_bottom %}{{ section.settings.margin_bottom | plus: 140 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px !important;
        }
    }
{%- endstyle -%}

{% javascript %}
    var lea = new LeAccordion({
        debug: false
    });
    lea.init();
{% endjavascript %}


<div class="sa-section-accordion -template-{{ section.settings.template_type }}
            section-{{ section.id }}-padding section-{{ section.id }}-margin
            {{ section_classes }}">
    <div class="page-width -section-content {% if section.settings.accordion_width == 'narrow' %} -narrow-section {% endif %}">
        <div class="ac-content">

            {% if  section.settings.headline != blank %}
            <h2 class="-no-indent -{{ section.settings.heading_size }}">
                {{ section.settings.headline }}
            </h2>
            {% endif %}

            <div class="le-accordion {% if section.settings.template_type == 'white' %} sa-col-white {% endif %}">
                {%- for block in section.blocks -%}

                    <div class="le-acc-entry -with-arrow">
                        <div class="le-acc-header">

                            <span class="_text-normal">
                                {{ block.settings.heading }}
                            </span>

                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path d="M9.21191 16.0566L9.21191 0.83789L11.7119 0.83789L11.7119 16.0566L18.7119 9.05664L20.4619 10.8379L10.4619 20.8379L0.461914 10.8379L2.21191 9.05664L9.21191 16.0566Z" fill="white"/>
                            </svg>

                        </div>
                        <div class="le-acc-content">
                            {% if block.settings.image %}
                            <div class="lac-left">
                                <div class="lac-image">
                                    {{ block.settings.image
                                        | image_url: width: 550
                                        | image_tag:
                                        loading: 'lazy',
                                        widths: '300, 550, 800'
                                    }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="lac-right">
                                {{ block.settings.row_content }}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.le_accordion.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },

    "settings": [
        {
            "type": "select",
            "id": "template_type",
            "label": "Template",
            "options": [
                {
                    "value": "blue",
                    "label": "Dark Blue"
                },
              {
                    "value": "white",
                    "label": "White"
                }
            ]
        },
        {
            "type": "text",
            "id": "headline",
            "default": "Headline",
            "label": "Headline"
        },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "Large",
            "label": "Large"
          }
        ],
        "default": "medium",
        "label": "Heading size"
      },

      {
        "type": "select",
        "id": "accordion_width",
        "options": [
          {
            "value": "full",
            "label": "Full width"
          },
          {
            "value": "narrow",
            "label": "Narrow width"
          }
        ],
        "default": "narrow",
        "label": "Accordion width"
      },



      {
        "type": "header",
        "content": "If a source is selected, the rows won't be used."
      },

      {
        "type": "metaobject",
        "id": "accordion_entries",
        "label": "Accordion entries",
        "metaobject_type": "accordion_entry"
      },


      {
            "type": "header",
            "content": "Border"
        },
        {
            "type": "checkbox",
            "id": "decal_top",
            "label": "Skewed on top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "decal_bottom",
            "label": "Skewed on bottom",
            "default": false
        },

        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 40
        },

        {
            "type": "header",
            "content": "t:sections.all.margin.section_margin_heading"
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": -200,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.margin.margin_top",
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "min": -200,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.margin.margin_bottom",
            "default": 0
        }

    ],

    "blocks": [
        {
            "type": "accordion_row",
            "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
            "settings": [
                {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "default": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.default",
                    "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label"
                },
                {
                    "type": "richtext",
                    "id": "row_content",
                    "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.le_accordion.presets.name",
            "blocks": [
                {
                    "type": "accordion_row"
                },
                {
                    "type": "accordion_row"
                },
                {
                    "type": "accordion_row"
                },
                {
                    "type": "accordion_row"
                }
            ]
        }
    ]
}
{% endschema %}