{%- liquid

    # ---------------------------------
    # DECALS
    # ---------------------------------
    assign decal_top = false
    assign decal_bottom = false
    assign section_classes = ''

    if section.settings.decal_top
        assign decal_top = true
        assign section_classes = section_classes | append: ' -decal-top '
    endif

    if section.settings.decal_bottom
        assign decal_bottom = true
        assign section_classes = section_classes | append: ' -decal-bottom '
    endif

    # ---------------------------------
    # BACKGROUND + DECAL - colors
    # ---------------------------------
    assign section_classes = section_classes | append: ' sa-bg-' | append: section.settings.section_bkgr
    assign section_classes = section_classes | append: ' -dct-' | append: section.settings.section_bkgr
    assign section_classes = section_classes | append: ' -dcb-' | append: section.settings.section_bkgr
    if section.settings.section_bkgr == 'primary'
        assign section_classes = section_classes | append: ' sa-col-white'
    endif
    if section.settings.section_bkgr == 'light-blue' or section.settings.section_bkgr == 'white'
        assign section_classes = section_classes | append: ' sa-col-primary'
    endif

    # ---------------------------------
    # PADDING + MARGIN
    # ---------------------------------
    assign section_classes = section_classes | append: ' section-' | append: section.id | append: '-margin'
    assign section_classes = section_classes | append: ' section-' | append: section.id | append: '-padding'

    # ---------------------------------
    # CUSTOM CLASSES
    # ---------------------------------
    assign section_classes = section_classes | append: section.settings.custom_class_names

%}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-margin {
        margin-top: {% if decal_top %}{{ section.settings.margin_top | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_top }}{% endif %}px;
        margin-bottom: {% if decal_bottom %}{{ section.settings.margin_bottom | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .section-{{ section.id }}-margin {
            margin-top: {% if decal_top %}{{ section.settings.margin_top | plus: 140 }}{% else %}{{ section.settings.margin_top }}{% endif %}px;
            margin-bottom: {% if decal_bottom %}{{ section.settings.margin_bottom | plus: 140 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px;
        }
    }
{%- endstyle -%}

<div class="sa-section-face2face
            -col-type-{{ section.settings.column_type }}
            -txt-align-{{ section.settings.text_align }}
            -h-size-{{ section.settings.heading_size }}
            -img-shadow-{{ section.settings.image_shadow }}
            -img-type-{{ section.settings.image_type }}
            -img-size-{{ section.settings.image_size }}
            -entry-align-{{ section.settings.entry_align }}
            {{ section_classes }}">
    <div class="page-width -section-content w-full">

        {% if section.settings.headline or section.settings.subheadline %}
        <div class="f2f-header pl-20">

            {% # HEADLINE
             # ---------------------- %}
            {% if section.settings.headline %}
            <div class="f2f-heading {% if section.settings.heading_image %} -with-image {% endif %}">
                <{{ section.settings.heading_type }} class="f2f-headline {% if section.settings.no_decal %} -no-decal {% endif %} -h-size-{{ section.settings.heading_size }}">
                    {%- if section.settings.heading_image -%}
                    <div class="f2f-heading-image">
                        {{ section.settings.heading_image
                            | image_url: width: 44
                            | image_tag: alt: section.settings.heading_image.alt
                        }}
                    </div>
                    {%- endif -%}
                    {{ section.settings.headline | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>' }}
                </{{ section.settings.heading_type }}>
            </div>
            {% endif %}

            {% # SUBHEADLINE
               # ---------------------- %}
            {% if section.settings.subheadline %}
            <div class="f2f-subheading">
                {{ section.settings.subheadline }}
            </div>
            {% endif %}

        </div>
        {% endif %}

        <div class="f2f-entry-container">

            {%- for block in section.blocks -%}

                <div id="F2FEntry-{{ section.id }}-{{ forloop.index }}" class="f2f-entry">

                    <div class="f2f-left">
                        <div class="f2f-image">
                            {%- if block.settings.image -%}

                            {%- liquid
                                assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round

                                assign sizes = '100vw'
                                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

                                assign fetch_priority = 'auto'
                                if section.index == 1
                                    assign fetch_priority = 'high'
                                endif
                            -%}

                            {%- if forloop.first %}
                                {{
                                block.settings.image
                                | image_url: width: 880
                                | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                                }}
                            {%- else -%}
                                {{
                                block.settings.image
                                | image_url: width: 880
                                | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                }}
                            {%- endif -%}

                        {%- else -%}
                            {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                            {%- if placeholder_slide == 1 -%}
                                {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- else -%}
                                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                        {%- endif -%}
                        </div>
                    </div>

                    <div class="f2f-right">

                        <div class="f2f-text">

                            {% # HEADING
                               # ---------------------- %}
                            {% if block.settings.heading %}
                            <{{ section.settings.entry_heading_type }} class="f2fe-heading -no-decal -h-text-{{ section.settings.entry_heading_size }}">
                                {{ block.settings.heading | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>' }}
                            </{{ section.settings.entry_heading_type }}>
                            {% endif %}

                            <div class="f2fe-text -e-text-{{ section.settings.entry_text_size }}">
                                {{ block.settings.subheading }}
                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>
</div>

{% javascript %}
{% endjavascript %}

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.le_face2face.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_bkgr",
      "label": "Background Color",
      "options": [
        {
          "value": "primary",
          "label": "Blue (primary)"
        },
        {
          "value": "light-blue",
          "label": "Light Blue"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "primary"
    },

    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading Image Prefix"
    },
    {
      "type": "richtext",
      "id": "headline",
      "default": "<p>Headline</p>",
      "label": "Headline"
    },
    {
      "type": "select",
      "id": "heading_type",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "div",
          "label": "DIV"
        }
      ],
      "default": "h2",
      "label": "Heading type"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "normal-bold",
          "label": "Normal Bold"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large",
      "label": "Heading font size"
    },
    {
      "type": "checkbox",
      "id": "no_decal",
      "default": false,
      "label": "No decals on 'Heading'"
    },


    {
      "type": "inline_richtext",
      "id": "subheadline",
      "default": "Text",
      "label": "Text"
    },

    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "column_type",
      "label": "Column Type",
      "options": [
        {
          "value": "narrow",
          "label": "Equal width narrow"
        },
        {
          "value": "medium",
          "label": "Equal width medium"
        },
        {
          "value": "wide",
          "label": "Equal width wide"
        },
        {
          "value": "asymmetric",
          "label": "Asymmetric"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "entry_align",
      "label": "Content alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        }
      ],
      "default": "center"
    },

    {
      "type": "header",
      "content": "Entry image settings"
    },
    {
      "type": "select",
      "id": "image_shadow",
      "label": "Shadow Type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "mediumplus",
          "label": "Medium Plus"
        },
        {
          "value": "narrowauto",
          "label": "Narrow / Auto height"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "image_type",
      "label": "Type",
      "options": [
        {
          "value": "skewed",
          "label": "Skewed"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal"
    },


    {
      "type": "header",
      "content": "Entry font settings"
    },
    {
      "type": "select",
      "id": "entry_heading_type",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "DIV"
        }
      ],
      "default": "h3",
      "label": "Heading type"
    },
    {
      "type": "select",
      "id": "entry_heading_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal",
      "label": "Heading font size"
    },
    {
      "type": "select",
      "id": "entry_text_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal",
      "label": "Entry font size"
    },

    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "inside",
          "label": "To the inside"
        },
        {
          "value": "outside",
          "label": "To the outside"
        }
      ],
      "default": "inside"
    },


    {
      "type": "header",
      "content": "Custom classes"
    },
    {
      "type": "text",
      "id": "custom_class_names",
      "label": "t:settings_schema.custom_classes.settings.class_names.label",
      "placeholder": ".test_class"
    },

    {
      "type": "header",
      "content": "Skewed border"
    },
    {
      "type": "checkbox",
      "id": "decal_top",
      "label": "Skewed on top",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "decal_bottom",
      "label": "Skewed on bottom",
      "default": false
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },

    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Entry",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.header_text.content"
        },
        {
          "type": "richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.le_face2face.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
