{%- liquid

    # DECALS
    # ---------------------------------
    assign decal_top = false
    assign decal_bottom = false
    assign section_classes = ''

    if section.settings.decal_top
        assign decal_top = true
        assign section_classes = section_classes | append: ' -decal-top '
    endif

    if section.settings.decal_bottom
        assign decal_bottom = true
        assign section_classes = section_classes | append: ' -decal-bottom '
    endif
    # ---------------------------------

%}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-margin {
        margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
        margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .section-{{ section.id }}-margin {
            margin-top: {% if decal_top %}{{ section.settings.margin_top | plus: 140 }}{% else %}{{ section.settings.margin_top }}{% endif %}px;
            margin-bottom: {% if decal_top %}{{ section.settings.margin_bottom | plus: 140 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px;
        }
    }
{%- endstyle -%}

<div class="sa-section-steps
            section-{{ section.id }}-padding section-{{ section.id }}-margin
            sa-bg-light-blue
            sa-col-primary
            -dct-light-blue -dcb-light-blue
            {{ section_classes }}">
    <div class="page-width">

        {% if section.settings.heading or section.settings.text %}
        <div class="st-header">

            {% # HEADING %}
            {% if section.settings.heading %}
            <h2 class="image-with-text__heading inline-richtext _text-h2 {{ section.settings.heading_size }}" >
              {{ section.settings.heading }}
            </h2>
            {% endif %}

            {% # TEXT %}
            {% if section.settings.text %}
                <div class="st-header-text">
                    {{ section.settings.text }}
                </div>
            {% endif %}

        </div>
        {% endif %}

        <div class="st-content">
        {%- for block in section.blocks -%}
            <div class="st-step">

                <div class="st-number">
                    {{ block.settings.number }}
                </div>

                <div class="flex gap-8 flex-col">
                    <div class="st-title _text-p !font-bold">
                        {{ block.settings.title }}
                    </div>

                    <div class="st-text text-small">
                        {{ block.settings.text }}
                    </div>
                </div>

                <div class="st-button">
                    <div class="sa-button">
                        <span>{{ block.settings.button_text }}</span>
                    </div>
                </div>

            </div>

        {% endfor %}
        </div>

    </div>

</div>

{% schema %}
{
  "name": "t:sections.le_steps.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Step into success"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Becoming a Wellness Personal Trainer doesn’t have to be complicated. Follow these four steps and you’ll be earning in as little as two months.</p>"
    },

    {
      "type": "header",
      "content": "Skewed border"
    },
    {
      "type": "checkbox",
      "id": "decal_top",
      "label": "Skewed on top",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "decal_bottom",
      "label": "Skewed on bottom",
      "default": false
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },

    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    }
  ],

  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "default": "1",
          "label": "Step Number"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Step",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Go to Step",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "button_link",
          "label": "Target"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
  ],
  "presets": [
    {
      "name": "t:sections.le_steps.presets.name",
      "blocks": [
        {
          "type": "step"
        },
        {
          "type": "step"
        }
      ]
    }
  ]
}
{% endschema %}