{%- liquid

    assign iz_blue = false
    assign iz_light1 = false
    assign iz_light2 = false
    assign decal_top = false
    assign decal_bottom = false
    assign section_classes = ''

    if section.settings.decal_top
        assign decal_top = true
        assign section_classes = section_classes | append: ' -decal-top '
    endif
    
    if section.settings.decal_bottom
        assign decal_bottom = true
        assign section_classes = section_classes | append: ' -decal-bottom '
    endif

    if section.settings.template_type == 'blue'
        assign iz_blue = true
        assign section_classes = section_classes | append: ' sa-bg-primary -dct-primary -dcb-primary '
    endif

    if section.settings.template_type == 'light1'
        assign iz_light1 = true
        assign section_classes = section_classes | append: ' sa-bg-light-blue -dct-light-blue -dcb-light-blue '
    endif

    if section.settings.template_type == 'light2'
        assign iz_light2 = true
        assign section_classes = section_classes | append: ' sa-bg-light-blue -dct-light-blue -dcb-light-blue '
    endif

%}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-margin {
        margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
        margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .section-{{ section.id }}-margin {
            margin-top: {{ section.settings.margin_top }}px;
            margin-bottom: {{ section.settings.margin_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="sa-section-whychoose -template-{{ section.settings.template_type }} section-{{ section.id }}-padding section-{{ section.id }}-margin pb-32 {{ section_classes }}">
    <div class="page-width -section-content w-full">

        <div class="wc-header pl-20 pb-{% if iz_blue %}24{% else %}16{% endif %}">

            <h2>
                {{ section.settings.headline }}
            </h2>

            <div class="_subtitle">
                {{ section.settings.subheadline }}
            </div>

        </div>

        <div class="wc-entry-container">

            {%- for block in section.blocks -%}

                <div id="F2FEntry-{{ section.id }}-{{ forloop.index }}" class="wc-entry">
                    {% comment %}
                      ToDo: Optimize image sizes
                    {% endcomment %}
                    <div class="wc-left">
                        <div class="wc-image">

                            {%- if block.settings.image -%}

                            {%- liquid

                                assign img_extension = block.settings.image | split: '.' | last | downcase
                                assign iz_svg = false
                                if img_extension == 'svg'
                                    assign iz_svg = true
                                endif

                                assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round

                                assign sizes = '100vw'
                                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

                                assign fetch_priority = 'auto'
                                if section.index == 1
                                    assign fetch_priority = 'high'
                                endif

                            -%}

                            {%- if iz_svg %}
                                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}">
                            {%- else -%}
                                {%- if forloop.first %}
                                    {{
                                    block.settings.image
                                    | image_url: width: 880
                                    | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                                    }}
                                {%- else -%}
                                    {{
                                    block.settings.image
                                    | image_url: width: 880
                                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                    }}
                                {%- endif -%}
                            {%- endif -%}

                        {%- else -%}
                            {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                            {%- if placeholder_slide == 1 -%}
                                {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- else -%}
                                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                        {%- endif -%}
                        </div>
                    </div>

                    <div class="wc-right">

                        <div class="wc-text">

                            <h3 class="_subtitle !leading-none mb-2 ">{{ block.settings.heading | remove: "<p>" | replace: '</p>', '<br>' | remove_last: '<br>' }}</h3>

                            {%- if block.settings.subheading != blank -%}
                            <div class="_subtitle-small">
                                {{ block.settings.subheading }}
                            </div>
                            {%- endif -%}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

        {%- if section.settings.template_type == 'light2' -%}
            <div class="sa-button-container flex">
                <a href="{{ section.settings.button_url }}" class="sa-button -medium mt-32 !mx-auto -hover-translate">
                    <span>{{ section.settings.button_label }}</span>
                </a>
            </div>
        {% endif %}

    </div>
</div>

{% javascript %}
{% endjavascript %}

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.le_whychoose.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "template_type",
      "label": "Template",
      "options": [
        {
          "value": "blue",
          "label": "Dark Blue 2 col"
        },
        {
          "value": "light1",
          "label": "Light Blue 3 col"
        },
        {
          "value": "light2",
          "label": "Light Blue 3 col + Link"
        }
      ]
    },
    {
      "type": "text",
      "id": "headline",
      "default": "t:sections.slideshow.blocks.slide.name",
      "label": "t:sections.slideshow.blocks.slide.name"
    },
    {
      "type": "inline_richtext",
      "id": "subheadline",
      "default": "t:sections.slideshow.blocks.slide.name",
      "label": "t:sections.slideshow.blocks.slide.name"
    },
    {
      "type": "text",
      "id": "button_label",
      "visible_if": "{{ section.settings.template_type == 'light2' }}",
      "label": "Button: Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "visible_if": "{{ section.settings.template_type == 'light2' }}",
      "label": "Button: URL"
    },

    {
      "type": "header",
      "content": "Border"
    },
    {
      "type": "checkbox",
      "id": "decal_top",
      "label": "Skewed on top",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "decal_bottom",
      "label": "Skewed on bottom",
      "default": false
    },

    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    }

  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Entry",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.header_text.content"
        },
        {
          "type": "richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "visible_if": "{{ section.settings.template_type != 'light2' }}",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.le_whychoose.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
