{% # TODO: only load js when we have slides %}
{{ 'le_swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'le_swiper-bundle.min.js' | asset_url | script_tag }}

{%- liquid

    assign section_classes = ''

    # ---------------------------------
    # PADDING + MARGIN
    # ---------------------------------
    assign section_classes = section_classes | append: ' section-' | append: section.id | append: '-margin '
    #assign section_classes = section_classes | append: ' section-' | append: section.id | append: '-padding '

    # ---------------------------------
    # CUSTOM CLASSES
    # ---------------------------------
    assign section_classes = section_classes | append: section.settings.custom_class_names

    # ---------------------------------
    # CHECK VIEW MODE
    # ---------------------------------
    assign mode_live = true
    assign mode_preview = false
    assign mode_customizer = false
    if content_for_header contains "previewBarInjector.init();"
        assign mode_live = false
        assign mode_preview = true
        assign mode_customizer = false
    elsif content_for_header contains "Shopify.designMode"
        assign mode_live = false
        assign mode_preview = false
        assign mode_customizer = true
    endif

    # ---------------------------------
    # SECTION SPECIFIC STUFF
    # ---------------------------------
    if section.settings.full_width
        assign section_classes = section_classes | append: ' -full-width '
    endif
%}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-margin {
        margin-top: {% if decal_top %}{{ section.settings.margin_top | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_top }}{% endif %}px;
        margin-bottom: {% if decal_bottom %}{{ section.settings.margin_bottom | times: 0.75 | round: 0 | plus: 105 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .section-{{ section.id }}-margin {
            margin-top: {% if decal_top %}{{ section.settings.margin_top | plus: 140 }}{% else %}{{ section.settings.margin_top }}{% endif %}px;
            margin-bottom: {% if decal_top %}{{ section.settings.margin_bottom | plus: 140 }}{% else %}{{ section.settings.margin_bottom }}{% endif %}px;
        }
    }
{%- endstyle -%}


<div class="v2-section-hero
            {{ section_classes }}">
    <div class="">

        {%- for block in section.blocks -%}

            <div class="hero-slide page-width sa-col-white">

                {% # BACKGROUND: IMAGE
                   # ---------------------------------------- %}
                <div class="slide-background">
                    <div class="slide-image media">
                        {% # IMAGE SET, DEFINE SIZES  %}
                        {% assign img = block.settings.image | default: product.metafields.custom.hero_image | default: blank %}
                        {%- if img != blank -%}
                            {%- assign widths = '1200, 1500' -%}
                            {%- capture sizes -%}
                                {% comment %}
                                ToDo: check the resulting image size, should be big enough but not too big...
                                {% endcomment %}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 900px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                            {%- endcapture -%}
                            {{ img
                            | image_url: width: 1500
                            | image_tag:
                            sizes: sizes,
                            widths: widths,
                            fetchpriority: fetch_priority
                            }}

                            {% # NO IMAGE GIVE, SO DEFAULT PLACEHOLDER %}
                        {%- else -%}
                            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    </div>
                </div>


                {% # BACKGROUND: SHADOW
                   # ---------------------------------------- %}
                <div class="slide-shadow"></div>


                {% # FOREGROUND: CONTENT
                   # ---------------------------------------- %}
                <div class="slide-foreground page-width section-{{ section.id }}-padding '">
                    <div class="slide-content -extra-padding-x">

                        {% render 'v2-heading', data: block.settings %}

                        {% render 'v2-button', data: block.settings, classes: "" %}



                    </div>
                </div>

            </div> {% # /hero-slide %}

        {% endfor %}

    </div>
</div>


{% schema %}
{
  "name": "t:lesections.hero.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "header",
      "content": "Full Width"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Stretch background image to full width",
      "default": true
    },

    {
      "type": "header",
      "content": "t:lebase.global.custom_classes.header"
    },
    {
      "type": "text",
      "id": "custom_class_names",
      "label": "t:lebase.global.custom_classes.label",
      "placeholder": ".test_class"
    },


    {
      "type": "header",
      "content": "t:lebase.global.padding.header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:lebase.global.padding.label_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 372,
      "step": 4,
      "unit": "px",
      "label": "t:lebase.global.padding.label_bottom",
      "default": 40
    },


    {
      "type": "header",
      "content": "t:lebase.global.margin.header"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:lebase.global.margin.label_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": -200,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:lebase.global.margin.label_bottom",
      "default": 0
    }

  ],

  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 37,
      "settings": [


        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },


        {
            "type": "header",
            "content": "t:lebase.global.heading.header"
        },
        {
            "type": "text",
            "id": "heading_text",
            "label": "t:lebase.global.heading.text"
        },
        {
            "type": "select",
            "id": "heading_type",
            "label": "t:lebase.global.heading.type",
            "default": "h1",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "div",
                    "label": "DIV"
                }
            ]
        },
        {
            "type": "select",
            "id": "heading_size",
            "default": "h1",
            "label": "t:lebase.global.heading.size",
            "options": [
                {"value": "inherit", "label": "Inherit"},
                {"value": "hero", "label": "Hero"},
                {"value": "h1", "label": "H1"},
                {"value": "h2", "label": "H2"},
                {"value": "h3", "label": "H3"},
                {"value": "copy-xl", "label": "Copy XL"},
                {"value": "copy-l", "label": "Copy L"},
                {"value": "copy-m", "label": "Copy M"}
            ]
        },
        {
            "type": "checkbox",
            "id": "heading_strong_accented",
            "default": false,
            "label": "t:lebase.global.heading.strong_accented.label",
            "info": "t:lebase.global.heading.strong_accented.info"
        },
        {
            "type": "checkbox",
            "id": "heading_no_decal",
            "default": false,
            "label": "t:lebase.global.heading.no_decal"
        },


        {
          "type": "header",
          "content": "t:lebase.global.text.header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:lebase.global.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "default": "copy-l",
          "label": "t:lebase.global.text.size",
          "options": [
            {"value": "inherit", "label": "Inherit"},
            {"value": "hero", "label": "Hero"},
            {"value": "h1", "label": "H1"},
            {"value": "h2", "label": "H2"},
            {"value": "h3", "label": "H3"},
            {"value": "copy-xl", "label": "Copy XL"},
            {"value": "copy-l", "label": "Copy L"},
            {"value": "copy-m", "label": "Copy M"}
          ]
        },
        {
          "type": "checkbox",
          "id": "text_strong_accented",
          "default": false,
          "label": "t:lebase.global.text.strong_accented.label",
          "info": "t:lebase.global.text.strong_accented.info"
        },





        {
          "type": "header",
          "content": "t:lebase.global.button.header"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:lebase.global.button.text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:lebase.global.button.url"
        },
        {
          "type": "select",
          "id": "button_style",
          "default": "primary",
          "label": "t:lebase.global.button.style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:lebase.global.button.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:lebase.global.button.style.secondary"
            },
            {
              "value": "plain",
              "label": "t:lebase.global.button.style.plain"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "button_icon",
          "label": "t:lebase.global.button.icon"
        },
        {
          "type": "select",
          "id": "button_size",
          "default": "small",
          "label": "t:lebase.global.button.size.label",
          "options": [
            {
              "value": "small",
              "label": "t:lebase.global.button.size.small"
            },
            {
              "value": "medium",
              "label": "t:lebase.global.button.size.medium"
            }
          ]
        }

      ]
    }
  ],

  "presets": [
    {
      "name": "t:lesections.hero.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]

}
{% endschema %}